.github-corner svg {
    position: absolute;
    top: 0;
    border: 0;
    right: 0;
    fill: #fff;
    color: #b03a58;
}

.github-corner .octo-arm {
    transform-origin: 130px 106px;
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}

@media (max-width: 500px) {
    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }

    .github-corner:hover .octo-arm {
        animation: none;
    }
}

@keyframes octocat-wave {
    0%,
    100% {
        transform: rotate(0);
    }
    20%,
    60% {
        transform: rotate(-25deg);
    }
    40%,
    80% {
        transform: rotate(10deg);
    }
}
